.start-screen{
    background-image: url('./Images/start.jpg');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
}

.Nextimg {
    position: absolute;
    height : 5em;
    top : calc(50% - 2.5em);
    right : 6%;
    transition: 0.2s;
}

.Nextimg:hover {
    transform: scale(1.1);
}